<div style="display:flex; border: 1px solid #c3c3c3; max-width: 500px; background-color: #f1f1eb;height: 100px;">
    <div class="facilityimg"> <img class="facilityimg" src={{facilityDetails.image}}/> </div>

    <div style="position:relative; left:30px">
      <div class="itemdetails" style="display:flex; font-weight: bolder; font: size 14;">
          {{ facilityDetails.name}}
      </div>
      <div>{{ facilityDetails.type }} </div>
      <div>{{ facilityDetails.address }} </div>
    </div>
</div>