$font-regular: "Avenir Regular";
$font-light: "Avenir Light";
$font-bold: "Avenir Bold";

$primary-color: #fff;
$contrast-color: #000;
$error-color: #f00;
$glossy-color: rgba(255,255,255,0.7);
$grey-color: #ccc;
$green-color: #66B60A;
