@import "utils";
@import "variables";

:host {
  @include full-page;
  @include flex-layout(column);
}

header {
  flex: none;
  padding: 16px 24px;
  height: 30%;
  background:center/cover no-repeat;
  background-size: contain;
  app-icon:last-child {
    float: right;
  }
}

.productdetails {
  padding-left: 30px;
  padding-top: 50px;
}

.product-name{
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
  font-weight:bolder;
  text-shadow: 0 8px 96px black;
}

.brand-name{
  font-size: 14px;
  color: white;
  font-weight:bolder;
  //text-shadow: 0 1px black;

}

.product-quantity{
  font-size: 13px;
  color:white;
  padding-top:5px;
  font-weight: 600;
}

.backbutton{
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  background: $primary-color;
}

.headerrow{
  margin: 20px 0px 0px 20px;
}


  
  
