@import "variables";
@import "utils";

:host {
  display: inline-block;
  vertical-align: middle;
}

button {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  white-space: nowrap;
  -webkit-appearance: none;
  color: $primary-color;
}

:host ::ng-deep app-icon {
  transform: translate(0, 6px);
}

.small {
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  border-radius: 8px;
  font-size: 12px;
}
.medium {
  height: 40px;
  line-height: 40px;
  padding: 0 24px;
  border-radius: 24px;
  font-size: 16px;
}
.large {
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 24px;
  font-size: 18px;
}

.glossy {
  @include glossy-effect;
}
.contrast {
  background: $primary-color;
  color: $contrast-color;
}
.contrast-error {
  background: $primary-color;
  color: $error-color;
}
.text {
  background: transparent;
}
.primary {
  background: linear-gradient(to right, #67b709, #309f23);
}
.outline {
  background: transparent;
  border-color: currentColor;
}
