<div class="container" fxLayout="row" fxLayoutAlign="left center" *ngIf="!clicked">
  <div class="container" fxLayout="row" fxFlex="30%" fxLayoutAlign="center center">
    <div fxFlex="15%" fxFlexAlign="left">
      <div *ngIf="noOfFacilities>1">
      <button class="loadbutton" (click)="loadAllFacilities()">
        {{noOfFacilities-1}}
      </button>
      </div>
    </div>
    <div fxFlex="75%">
      <div class="arrow-up"></div>
      <div class="vl1"></div>
      <div class="circle">
        <img src="assets/icons/shipped.svg" class="shippedicon" />
      </div>
      <div class="vl2"></div>
    </div>
    <div fxLayout="row">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div fxFlex="50%" class="container" fxLayout="row" fxFlexAlign="left">
    <div fxFlex="20%">
      <img class="itemimg" src={{companyImageUrl}} height="auto" width="auto" />
    </div>
    <div class="contentmargin info" fxFlex="80%" fxLayout="column">
      <div>Transported</div>
      <div>on {{orderCreateDate | date: 'medium'}}</div>
    </div>
  </div>
  <div fxFlex="20%">
    <img class="certificateicon" src="assets/icons/file_text.svg">
  </div>
</div>

<!-- Lis of facilties once more button is clicked -->
<!-- <div class="container" fxLayout="column" *ngIf="clicked">
  <div *ngFor="let node of children">
    <div class="container" fxLayout="row" *ngIf="clicked">
      <div class="container" fxFlex="30%">
        <div fxFlex="25%" fxLayoutAlign="top top">
            <button *ngIf="noOfFacilities>1" class="loadbutton" (click)="toggleClick(node)">
                Load
            </button>
        </div>
        <div fxFlex="75%">
            <div class="circle">
                <img src="assets/icons/shipped.svg" class="shippedicon" />
              </div>
        </div>
      </div>
      <div class="container" fxFlex="70%" fxLayout="row">
        <div fxFlex="20%">
          <img class="itemimg" src="{{ node.orders[0].companyData.company.profileImageURL }}" height="auto"
            width="auto" />
        </div>
        <div fxFlex="80%" class="info">
          <p>{{ node.orders[0].companyData.company.name }} transported</p>
          <p>on {{ node.orders[0].inventories[0].orderCreateDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
