.graph{
    width: "700px";
    height: "400px";
}

.view{
    text-align: center;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    color: black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    float: right;
    position: absolute; 
    right: -15px;
    border-style: solid;
    //margin-right:16px;
    width: 75px;
    border-color: rgb(42, 224, 6);
    background-color:transparent;
    border-width: 2px;
    margin:2px;
}
.productview{
    background-color: rgb(42, 224, 6);
    border-block-color: rgb(42, 224, 6);
    
}
.productlevel{
    color:green;
    font: size 12px;
    text-align: center;
    margin-block-start: 5%;
  }
