.groupbutton {
    width: 60px;
    max-width: 100px;
    min-width: 40px;
    border-radius: 50px;
    border: 2px solid #299F26;
    padding: 5px;
  }

.buttonColor{
    background-color: rgb(42, 224, 6);
    border-color: rrgb(25, 221, 51);
}