<header>
  <img src="../assets/logo.png" alt="valuCheck Logo" />
  <h3>Trace to Origin</h3>
</header>
<footer>
  <div class="container" fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <button class="buttonclass" mat-raised-button (click)="login('Owner')">Login as Owner</button>
  </div>
  <div>
    <button class="buttonclass"  mat-raised-button (click)="login('User')">Login as User</button>
  </div>
  <div>
    <button  class="buttonclass" mat-raised-button (click)="login('Guest')">Continue as Guest</button>
  </div>
  </div>
</footer>
